.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-priview__title{
  align-self: center;
    font-size: 35px;
    color: #ffffff;
    text-shadow: 4px 1px 2px black;
}

.fighter-priview__box-info{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width:100%;
}
.fighter-priview__info{
  color:white;
  font-size:20px;
  text-shadow: 4px 1px 2px black;
  display: flex;
  justify-content: space-between;
}
.fighter-priview__info span{
  margin-left:20px;
}